.menu .menu_items {
  display: block;
  position: relative;
  line-height: 10px; }
  .menu .menu_items::before {
    content: ' ';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 4px solid #666;
    border-width: 4px 0 0 4px !important;
    transform: translate3d(0, 0, 0);
    opacity: 0;
    transition: border-color 1.7s,transform 0.3s, opacity 0.3s;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29); }
  .menu .menu_items.is_current::before {
    opacity: 1;
    transform: translate3d(-15px, -15px, 0);
    border-color: #E3153C; }
  .menu .menu_items.is_current::after {
    opacity: 1;
    transform: translate3d(5px, 10px, 0);
    border-color: #E3153C; }
  .menu .menu_items::after {
    content: ' ';
    position: absolute;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-color: #666;
    border-width: 0 4px 4px 0 !important;
    transform: translate3d(0, 0, 0);
    opacity: 0;
    transition: border-color 1.7s,transform 0.3s, opacity 0.3s;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29); }

#skills {
  margin-top: 480px;
  height: 400px;
  background-color: #fff;
  position: relative;
  z-index: 10; }
  #skills .container {
    max-width: 900px;
    margin: 0 auto; }
  #skills .section-title, #skills .skill-set {
    float: left;
    width: 50%;
    height: 100%; }
  #skills .section-title {
    font-family: 'Varela Round', Helvetica !important;
    display: flex;
    justify-content: center;
    align-items: center; }
    #skills .section-title h2::after {
      content: ' ';
      display: block;
      height: 3px;
      width: 100%;
      background-color: #E3153C;
      border-radius: 35px; }
  #skills .skill-set {
    display: flex;
    align-items: center; }
    #skills .skill-set ul {
      list-style: none; }
      #skills .skill-set ul li {
        font-size: 18px; }
      #skills .skill-set ul .cat-name {
        font-size: 24px;
        color: #E3153C !important;
        margin-top: 10px; }

.hamburger-menu {
  z-index: 9999; }
  .hamburger-menu .bar3, .hamburger-menu .bar1 {
    transition: transform 0.3s 0s, opacity 0.3s ease; }
  .hamburger-menu .bar2::after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    background-color: black;
    transition: transform 0.3s ease;
    border-radius: 5px; }
  .hamburger-menu .bar2::before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    background-color: black;
    transition: transform 0.3s ease;
    border-radius: 5px; }

.hamburger-menu.open .bar1 {
  position: relative;
  transform: translateY(8px);
  opacity: 0; }

.hamburger-menu.open .bar3 {
  transform: translateY(-8px);
  opacity: 0; }

.hamburger-menu.open .bar2 {
  background-color: transparent; }
  .hamburger-menu.open .bar2::after {
    transform: rotate(45deg);
    background-color: #2D2D2D;
    transition-delay: 0.3s; }
  .hamburger-menu.open .bar2::before {
    transform: rotate(-45deg);
    background-color: #2D2D2D;
    transition-delay: 0.3s; }

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  bottom: 0;
  background-color: #2D2D2D;
  z-index: 8888;
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.82, 0.01, 0.77, 0.78); }
  .menu.is_open {
    transform: translateX(0); }
  .menu li {
    display: block;
    margin-top: 25px;
    font-size: 24px;
    text-align: center; }
    .menu li a {
      color: #666;
      display: inline-block;
      padding: 15px 25px;
      transition: color 0.3s ease; }
      .menu li a.is_current {
        color: #fff; }

#profesional {
  position: relative;
  z-index: 10;
  background-color: #fff; }
  #profesional h2 {
    text-align: center; }
  #profesional ul {
    margin: 0;
    padding: 0;
    max-width: 730px;
    margin: 0 auto;
    list-style: none; }
    #profesional ul li {
      height: 350px;
      width: 100%;
      background-color: blue;
      margin: 10px;
      padding: 20px; }
      #profesional ul li .card-pro {
        width: 300px;
        position: relative;
        height: 100%;
        background-color: #ccc; }
